*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    background: #f4f4f4;
}

.fundo-azul{
    background: #28A5d9;
}

.fundo-principal{
    background: url(../imagens/fundo-menu.png);
}

#principal{
    width: auto;
    height: auto;
}

#cabecalho{
    width: auto;
    height: 160px;
    background: url(../imagens/fundo-menu.png);
}

#cabecalho-superior{
    width: 100%;
}

#menu-cima{
    width: 960px;
    height: 20px;
    background: #fff;
    margin: 0 auto;

}

#menu-cima ul{
    width: 300px;
    float: right;
    text-align: right;
    margin-right: 20px;
}

#menu-cima ul li{
    display: inline;
    margin-left: 10px;
}

#menu-cima ul li a{
    color: #ccc;
    text-decoration: none;
}

#menu-cima ul li a:hover{
    color: red;

}


#cabecalho-meio{
    width: 100%;
    height: 110px;
    position: relative;
}

#cabecalho-meio h1{
    text-indent: -9999px;
    width: 175px;
    position: absolute;
    top: 25px;
    left: 60px;
    height: 52px;
    background: url(../imagens/img-logo.png) no-repeat top right;
}

.sacola{
    background: url(../imagens/carrinho.png) no-repeat top right;
    width: 300px;
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 200px;
    text-align: right;
    padding-right: 20px;
}

.busca{
    position: absolute;
    width: 500px;
    height: 35px;
    text-align: right;
    top: 55px;
    left: 340px;
}

.busca input[type=search]{
    width: 400px;
}

#cabecalho-inferior{
    width: 100%;
    border-bottom: 1px solid #ccc;
    line-height: 22px;
}

#menu-principal{
    width: 960px;
    height: 30px;
    padding-top: 5px;
    margin: 0 auto;
    text-align:center;
}

#menu-principal ul{
    list-style: none;
    font-family: "Trebuchet MS";
}

#menu-principal ul li{
    display: inline;
    margin-left: 5px;
    padding: 5px 30px;
    font-weight: bold;
    font-size: 13px;
}

.linha-vertical{
    border-right: 1px solid #ccc;
}

#menu-principal ul li a{
    color: #333;
    text-decoration: none;
}

#menu-principal ul li a:hover{
    color: red;
}

.banner{
    width: 960px;
    height: auto;
    margin: 0 auto;
    background: #fff;
}

#corpo{
    width: 960px;
    height: auto;
    margin: 0 auto;
    background: #fff;
    margin-top: 10px;
}

.categorias{
    width: 219px;
    height: auto;
    float: left;
    margin-right: 8px;
    border: solid 1px #ccc;
    font-weight: bold;
    margin-top: 10px;
}

.categorias h2{
    width: 219px;
    height: 19px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
}

.categorias ul{
    width: 219px;
    list-style: none;
}

.categorias ul li a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.categorias ul li a:hover{
    color: #666;
}

.categorias ul ul{
    width: 100%;
    background: #fff;
}

.categorias ul ul li{
    border-bottom: solid 1px #ccc;
    padding: 10px 0 10px 15px;
}

.categorias ul ul li a{
    color: #666;
    font-size: 12px;
}

.categorias ul ul li a:hover{
    color: #00ccff;
    font-size: 14px;
}

.titulo{
    width: 710px;
    height: 19px;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
}

#lado-direito{
    width: 710px;
    height: auto;
    margin-top: 10px;
    float: left;
}


.vitrine{
    margin: 10px 0;
    padding: 10px;
    width: 698px;
    height: auto;
    float: left;
    border: solid 1px #ccc;
}

.vitrine h2, .vitrine ul{
    width: 691px;

    border: solid 1px #ccc;
    padding: 2px;
    background: #FBFBFB;
}

.vitrine ul{
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vitrine h2{
    height: 20px;
}


.vitrine li{
    width: 155px;
    margin: 5px;
    padding-bottom: 10px;
    text-align: center;
     display: inline-block;
     vertical-align: top;
}

.vitrine a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.vitrine figure{
    margin-bottom: 10px;
}

.vitrine span{
    color: #FF0000;
    font-size: 16px;
    font-weight: bold;
}

.vitrine input{
    width: 94px;
    height: 33px;
    background: url(../imagens/comprar.png) no-repeat;
    border: 0;
    margin-top: 10px;
}

#rodape{
    width: 100%;
}

#rodape2{
    width: 100%;
    height: 160px;
}

#caixa{
    float: left;
    width: 300px;
    color: #FFF;
    margin-left: 100px;
}

.limpa{
    clear: both;
}

#cx-img-produto{
    width: 310px;
    height: 385px;
    border: solid 1px #ccc;
    padding: 1px;
    background: #fff;
    margin-right: 10px;
    float: left;
}

#cx-img-produto img{
    border: 0;
    
}